{% extends "base.html" %}

{% block title %}Phishing Email Detector{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">Phishing Email Detector</h1>
        <form action="{{ url_for('detect.detect') }}" method="post">
            <div class="form-group">
                <label for="email">Enter the email content:</label>
                <textarea id="email" name="email" class="form-control" rows="5" placeholder="Paste the email here..." required></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Check for Phishing</button>
        </form>

        {% if email_result %}
            <div class="result">
                <h2>Email Result:</h2>
                <p>{{ email_result }}</p>
            </div>
        {% endif %}

        {% if url_results %}
            <div class="result">
                <h2>URL Results:</h2>
                {% for result in url_results %}
                    <p>{{ result }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
